In [17]:
import pandas as pd
# Read the sampled csv file
df_sampled = pd.read_csv('./Data/sampled.csv', index_col=0)

In [18]:
df_sampled.head()

,ACTUAL_ELAPSED_TIME,AIRLINE_ID,AIR_TIME,ARR_DEL15,ARR_DELAY,ARR_DELAY_GROUP,ARR_DELAY_NEW,ARR_TIME,ARR_TIME_BLK,CANCELLATION_CODE,...,TAIL_NUM,TAXI_IN,TAXI_OUT,TOTAL_ADD_GTIME,UNIQUE_CARRIER,Unnamed: 109,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON,YEAR
2016,47.0,20304.0,19.0,0.0,-17.0,-2.0,0.0,2335.0,2300-2359,NaN,...,N934SW,8.0,20.0,NaN,OO,NaN,NaN,2308.0,2327.0,NaN
2016,66.0,19790.0,50.0,1.0,27.0,1.0,27.0,1530.0,1500-1559,NaN,...,N906AT,6.0,10.0,NaN,DL,NaN,0.0,1434.0,1524.0,NaN
2016,153.0,19930.0,136.0,0.0,-16.0,-2.0,0.0,1244.0,1300-1359,NaN,...,N619AS,7.0,10.0,NaN,AS,NaN,NaN,1021.0,1237.0,NaN
2016,369.0,19790.0,352.0,0.0,-14.0,-1.0,0.0,2049.0,2100-2159,NaN,...,N594NW,5.0,12.0,NaN,DL,NaN,NaN,1752.0,2044.0,NaN
2016,68.0,20366.0,45.0,0.0,-18.0,-2.0,0.0,1824.0,1800-1859,NaN,...,N14158,4.0,19.0,NaN,EV,NaN,NaN,1735.0,1820.0,NaN

In [19]:
print (df_sampled.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560850 entries, 2016 to 2017
Columns: 110 entries, ACTUAL_ELAPSED_TIME to YEAR
dtypes: float64(91), object(19)
memory usage: 475.0+ MB
None

In [20]:
list(df_sampled)

['ACTUAL_ELAPSED_TIME',
 'AIRLINE_ID',
 'AIR_TIME',
 'ARR_DEL15',
 'ARR_DELAY',
 'ARR_DELAY_GROUP',
 'ARR_DELAY_NEW',
 'ARR_TIME',
 'ARR_TIME_BLK',
 'CANCELLATION_CODE',
 'CANCELLED',
 'CARRIER',
 'CARRIER_DELAY',
 'CRS_ARR_TIME',
 'CRS_DEP_TIME',
 'CRS_ELAPSED_TIME',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'DEP_DEL15',
 'DEP_DELAY',
 'DEP_DELAY_GROUP',
 'DEP_DELAY_NEW',
 'DEP_TIME',
 'DEP_TIME_BLK',
 'DEST',
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_FIPS',
 'DEST_STATE_NM',
 'DEST_WAC',
 'DISTANCE',
 'DISTANCE_GROUP',
 'DIV1_AIRPORT',
 'DIV1_AIRPORT_ID',
 'DIV1_AIRPORT_SEQ_ID',
 'DIV1_LONGEST_GTIME',
 'DIV1_TAIL_NUM',
 'DIV1_TOTAL_GTIME',
 'DIV1_WHEELS_OFF',
 'DIV1_WHEELS_ON',
 'DIV2_AIRPORT',
 'DIV2_AIRPORT_ID',
 'DIV2_AIRPORT_SEQ_ID',
 'DIV2_LONGEST_GTIME',
 'DIV2_TAIL_NUM',
 'DIV2_TOTAL_GTIME',
 'DIV2_WHEELS_OFF',
 'DIV2_WHEELS_ON',
 'DIV3_AIRPORT',
 'DIV3_AIRPORT_ID',
 'DIV3_AIRPORT_SEQ_ID',
 'DIV3_LONGEST_GTIME',
 'DIV3_TAIL_NUM',
 'DIV3_TOTAL_GTIME',
 'DIV3_WHEELS_OFF',
 'DIV3_WHEELS_ON',
 'DIV4_AIRPORT',
 'DIV4_AIRPORT_ID',
 'DIV4_AIRPORT_SEQ_ID',
 'DIV4_LONGEST_GTIME',
 'DIV4_TAIL_NUM',
 'DIV4_TOTAL_GTIME',
 'DIV4_WHEELS_OFF',
 'DIV4_WHEELS_ON',
 'DIV5_AIRPORT',
 'DIV5_AIRPORT_ID',
 'DIV5_AIRPORT_SEQ_ID',
 'DIV5_LONGEST_GTIME',
 'DIV5_TAIL_NUM',
 'DIV5_TOTAL_GTIME',
 'DIV5_WHEELS_OFF',
 'DIV5_WHEELS_ON',
 'DIVERTED',
 'DIV_ACTUAL_ELAPSED_TIME',
 'DIV_AIRPORT_LANDINGS',
 'DIV_ARR_DELAY',
 'DIV_DISTANCE',
 'DIV_REACHED_DEST',
 'FIRST_DEP_TIME',
 'FLIGHTS',
 'FL_DATE',
 'FL_NUM',
 'LATE_AIRCRAFT_DELAY',
 'LONGEST_ADD_GTIME',
 'MONTH',
 'NAS_DELAY',
 'ORIGIN',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_FIPS',
 'ORIGIN_STATE_NM',
 'ORIGIN_WAC',
 'QUARTER',
 'SECURITY_DELAY',
 'TAIL_NUM',
 'TAXI_IN',
 'TAXI_OUT',
 'TOTAL_ADD_GTIME',
 'UNIQUE_CARRIER',
 'Unnamed: 109',
 'WEATHER_DELAY',
 'WHEELS_OFF',
 'WHEELS_ON',
 'YEAR']

In [21]:
df_sampled1 = df_sampled.drop('Unnamed: 109', axis=1)

In [22]:
list(df_sampled1)

['ACTUAL_ELAPSED_TIME',
 'AIRLINE_ID',
 'AIR_TIME',
 'ARR_DEL15',
 'ARR_DELAY',
 'ARR_DELAY_GROUP',
 'ARR_DELAY_NEW',
 'ARR_TIME',
 'ARR_TIME_BLK',
 'CANCELLATION_CODE',
 'CANCELLED',
 'CARRIER',
 'CARRIER_DELAY',
 'CRS_ARR_TIME',
 'CRS_DEP_TIME',
 'CRS_ELAPSED_TIME',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'DEP_DEL15',
 'DEP_DELAY',
 'DEP_DELAY_GROUP',
 'DEP_DELAY_NEW',
 'DEP_TIME',
 'DEP_TIME_BLK',
 'DEST',
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_FIPS',
 'DEST_STATE_NM',
 'DEST_WAC',
 'DISTANCE',
 'DISTANCE_GROUP',
 'DIV1_AIRPORT',
 'DIV1_AIRPORT_ID',
 'DIV1_AIRPORT_SEQ_ID',
 'DIV1_LONGEST_GTIME',
 'DIV1_TAIL_NUM',
 'DIV1_TOTAL_GTIME',
 'DIV1_WHEELS_OFF',
 'DIV1_WHEELS_ON',
 'DIV2_AIRPORT',
 'DIV2_AIRPORT_ID',
 'DIV2_AIRPORT_SEQ_ID',
 'DIV2_LONGEST_GTIME',
 'DIV2_TAIL_NUM',
 'DIV2_TOTAL_GTIME',
 'DIV2_WHEELS_OFF',
 'DIV2_WHEELS_ON',
 'DIV3_AIRPORT',
 'DIV3_AIRPORT_ID',
 'DIV3_AIRPORT_SEQ_ID',
 'DIV3_LONGEST_GTIME',
 'DIV3_TAIL_NUM',
 'DIV3_TOTAL_GTIME',
 'DIV3_WHEELS_OFF',
 'DIV3_WHEELS_ON',
 'DIV4_AIRPORT',
 'DIV4_AIRPORT_ID',
 'DIV4_AIRPORT_SEQ_ID',
 'DIV4_LONGEST_GTIME',
 'DIV4_TAIL_NUM',
 'DIV4_TOTAL_GTIME',
 'DIV4_WHEELS_OFF',
 'DIV4_WHEELS_ON',
 'DIV5_AIRPORT',
 'DIV5_AIRPORT_ID',
 'DIV5_AIRPORT_SEQ_ID',
 'DIV5_LONGEST_GTIME',
 'DIV5_TAIL_NUM',
 'DIV5_TOTAL_GTIME',
 'DIV5_WHEELS_OFF',
 'DIV5_WHEELS_ON',
 'DIVERTED',
 'DIV_ACTUAL_ELAPSED_TIME',
 'DIV_AIRPORT_LANDINGS',
 'DIV_ARR_DELAY',
 'DIV_DISTANCE',
 'DIV_REACHED_DEST',
 'FIRST_DEP_TIME',
 'FLIGHTS',
 'FL_DATE',
 'FL_NUM',
 'LATE_AIRCRAFT_DELAY',
 'LONGEST_ADD_GTIME',
 'MONTH',
 'NAS_DELAY',
 'ORIGIN',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'ORIGIN_STATE_FIPS',
 'ORIGIN_STATE_NM',
 'ORIGIN_WAC',
 'QUARTER',
 'SECURITY_DELAY',
 'TAIL_NUM',
 'TAXI_IN',
 'TAXI_OUT',
 'TOTAL_ADD_GTIME',
 'UNIQUE_CARRIER',
 'WEATHER_DELAY',
 'WHEELS_OFF',
 'WHEELS_ON',
 'YEAR']

In [27]:
df_sampled1.describe().to_csv('./Data/summary.csv', sep=',', encoding='utf-8')

In [28]:
df_sampled1.describe()

,ACTUAL_ELAPSED_TIME,AIRLINE_ID,AIR_TIME,ARR_DEL15,ARR_DELAY,ARR_DELAY_GROUP,ARR_DELAY_NEW,ARR_TIME,CANCELLED,CARRIER_DELAY,...,ORIGIN_WAC,QUARTER,SECURITY_DELAY,TAXI_IN,TAXI_OUT,TOTAL_ADD_GTIME,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON,YEAR
count,553111.000000,560850.000000,553111.000000,553111.000000,553111.000000,553111.000000,553111.000000,554314.000000,560850.000000,99527.000000,...,560850.000000,560850.000000,99527.000000,554314.000000,554585.000000,3503.000000,99527.000000,554585.000000,554314.000000,0.0
mean,140.379257,19902.250588,116.633840,0.179940,3.953322,-0.241944,12.236034,1471.845411,0.011253,20.042370,...,55.817752,2.514410,0.093723,7.500235,16.258685,35.638310,2.620726,1354.484804,1467.687109,NaN
std,75.829903,381.277186,73.626976,0.384138,43.055943,2.230558,39.571237,534.661811,0.105480,58.548889,...,27.044990,1.105098,2.913936,5.778211,8.899316,30.955259,21.486055,504.075422,530.125420,NaN
min,15.000000,19393.000000,6.000000,0.000000,-97.000000,-2.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,NaN
25%,84.000000,19790.000000,62.000000,0.000000,-14.000000,-1.000000,0.000000,1053.000000,0.000000,0.000000,...,34.000000,2.000000,0.000000,4.000000,11.000000,16.000000,0.000000,931.000000,1050.000000,NaN
50%,121.000000,19805.000000,97.000000,0.000000,-6.000000,-1.000000,0.000000,1511.000000,0.000000,1.000000,...,52.000000,3.000000,0.000000,6.000000,14.000000,27.000000,0.000000,1339.000000,1507.000000,NaN
75%,173.000000,20304.000000,148.000000,0.000000,7.000000,0.000000,7.000000,1918.000000,0.000000,18.000000,...,82.000000,3.000000,0.000000,9.000000,19.000000,43.000000,0.000000,1756.000000,1914.000000,NaN
max,715.000000,21171.000000,688.000000,1.000000,1971.000000,12.000000,1971.000000,2400.000000,1.000000,1964.000000,...,93.000000,4.000000,332.000000,379.000000,183.000000,276.000000,1934.000000,2400.000000,2400.000000,NaN

In [35]:
# Remove all the ID fields
if 'AIRLINE_ID' in df_sampled1:
    del df_sampled1['AIRLINE_ID']
if 'DEST_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DEST_AIRPORT_ID']
if 'DEST_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DEST_AIRPORT_SEQ_ID']
if 'DEST_CITY_MARKET_ID' in df_sampled1:
    del df_sampled1['DEST_CITY_MARKET_ID']
if 'DIV1_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DIV1_AIRPORT_ID']
if 'DIV1_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DIV1_AIRPORT_SEQ_ID']
if 'DIV2_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DIV2_AIRPORT_ID']
if 'DIV2_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DIV2_AIRPORT_SEQ_ID']
if 'DIV3_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DIV3_AIRPORT_ID']
if 'DIV3_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DIV3_AIRPORT_SEQ_ID']
if 'DIV4_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DIV4_AIRPORT_ID']
if 'DIV4_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DIV4_AIRPORT_SEQ_ID']
if 'DIV5_AIRPORT_ID' in df_sampled1:
    del df_sampled1['DIV5_AIRPORT_ID']
if 'DIV5_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['DIV5_AIRPORT_SEQ_ID']
if 'ORIGIN_AIRPORT_ID' in df_sampled1:
    del df_sampled1['ORIGIN_AIRPORT_ID']
if 'ORIGIN_AIRPORT_SEQ_ID' in df_sampled1:
    del df_sampled1['ORIGIN_AIRPORT_SEQ_ID']
if 'ORIGIN_CITY_MARKET_ID' in df_sampled1:
    del df_sampled1['ORIGIN_CITY_MARKET_ID']

print(df_sampled1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560850 entries, 2016 to 2017
Data columns (total 92 columns):
ACTUAL_ELAPSED_TIME        553111 non-null float64
AIR_TIME                   553111 non-null float64
ARR_DEL15                  553111 non-null float64
ARR_DELAY                  553111 non-null float64
ARR_DELAY_GROUP            553111 non-null float64
ARR_DELAY_NEW              553111 non-null float64
ARR_TIME                   554314 non-null float64
ARR_TIME_BLK               560850 non-null object
CANCELLATION_CODE          6311 non-null object
CANCELLED                  560850 non-null float64
CARRIER                    560850 non-null object
CARRIER_DELAY              99527 non-null float64
CRS_ARR_TIME               560850 non-null float64
CRS_DEP_TIME               560850 non-null float64
CRS_ELAPSED_TIME           560848 non-null float64
DAY_OF_MONTH               560850 non-null float64
DAY_OF_WEEK                560850 non-null float64
DEP_DEL15                  554804 non-null float64
DEP_DELAY                  554804 non-null float64
DEP_DELAY_GROUP            554804 non-null float64
DEP_DELAY_NEW              554804 non-null float64
DEP_TIME                   554804 non-null float64
DEP_TIME_BLK               560850 non-null object
DEST                       560850 non-null object
DEST_CITY_NAME             560850 non-null object
DEST_STATE_ABR             560850 non-null object
DEST_STATE_FIPS            560850 non-null float64
DEST_STATE_NM              560850 non-null object
DEST_WAC                   560850 non-null float64
DISTANCE                   560850 non-null float64
DISTANCE_GROUP             560850 non-null float64
DIV1_AIRPORT               1474 non-null object
DIV1_LONGEST_GTIME         1474 non-null float64
DIV1_TAIL_NUM              1206 non-null object
DIV1_TOTAL_GTIME           1474 non-null float64
DIV1_WHEELS_OFF            1206 non-null float64
DIV1_WHEELS_ON             1474 non-null float64
DIV2_AIRPORT               11 non-null object
DIV2_LONGEST_GTIME         11 non-null float64
DIV2_TAIL_NUM              8 non-null object
DIV2_TOTAL_GTIME           11 non-null float64
DIV2_WHEELS_OFF            8 non-null float64
DIV2_WHEELS_ON             11 non-null float64
DIV3_AIRPORT               0 non-null float64
DIV3_LONGEST_GTIME         0 non-null float64
DIV3_TAIL_NUM              0 non-null float64
DIV3_TOTAL_GTIME           0 non-null float64
DIV3_WHEELS_OFF            0 non-null float64
DIV3_WHEELS_ON             0 non-null float64
DIV4_AIRPORT               0 non-null float64
DIV4_LONGEST_GTIME         0 non-null float64
DIV4_TAIL_NUM              0 non-null float64
DIV4_TOTAL_GTIME           0 non-null float64
DIV4_WHEELS_OFF            0 non-null float64
DIV4_WHEELS_ON             0 non-null float64
DIV5_AIRPORT               0 non-null float64
DIV5_LONGEST_GTIME         0 non-null float64
DIV5_TAIL_NUM              0 non-null float64
DIV5_TOTAL_GTIME           0 non-null float64
DIV5_WHEELS_OFF            0 non-null float64
DIV5_WHEELS_ON             0 non-null float64
DIVERTED                   560850 non-null float64
DIV_ACTUAL_ELAPSED_TIME    1203 non-null float64
DIV_AIRPORT_LANDINGS       560850 non-null float64
DIV_ARR_DELAY              1203 non-null float64
DIV_DISTANCE               1428 non-null float64
DIV_REACHED_DEST           1428 non-null float64
FIRST_DEP_TIME             3503 non-null float64
FLIGHTS                    560850 non-null float64
FL_DATE                    560850 non-null object
FL_NUM                     560850 non-null float64
LATE_AIRCRAFT_DELAY        99527 non-null float64
LONGEST_ADD_GTIME          3503 non-null float64
MONTH                      560850 non-null float64
NAS_DELAY                  99527 non-null float64
ORIGIN                     560850 non-null object
ORIGIN_CITY_NAME           560850 non-null object
ORIGIN_STATE_ABR           560850 non-null object
ORIGIN_STATE_FIPS          560850 non-null float64
ORIGIN_STATE_NM            560850 non-null object
ORIGIN_WAC                 560850 non-null float64
QUARTER                    560850 non-null float64
SECURITY_DELAY             99527 non-null float64
TAIL_NUM                   559955 non-null object
TAXI_IN                    554314 non-null float64
TAXI_OUT                   554585 non-null float64
TOTAL_ADD_GTIME            3503 non-null float64
UNIQUE_CARRIER             560850 non-null object
WEATHER_DELAY              99527 non-null float64
WHEELS_OFF                 554585 non-null float64
WHEELS_ON                  554314 non-null float64
YEAR                       0 non-null float64
dtypes: float64(73), object(19)
memory usage: 397.9+ MB
None

In [36]:
# Remove all the Diverted Fields above DIV3 fields
if 'DIV3_AIRPORT' in df_sampled1:
    del df_sampled1['DIV3_AIRPORT']
if 'DIV3_LONGEST_GTIME' in df_sampled1:
    del df_sampled1['DIV3_LONGEST_GTIME']
if 'DIV3_TAIL_NUM' in df_sampled1:
    del df_sampled1['DIV3_TAIL_NUM']
if 'DIV3_TOTAL_GTIME' in df_sampled1:
    del df_sampled1['DIV3_TOTAL_GTIME']
if 'DIV3_WHEELS_OFF' in df_sampled1:
    del df_sampled1['DIV3_WHEELS_OFF']
if 'DIV3_WHEELS_ON' in df_sampled1:
    del df_sampled1['DIV3_WHEELS_ON']
if 'DIV4_AIRPORT' in df_sampled1:
    del df_sampled1['DIV4_AIRPORT']
if 'DIV4_LONGEST_GTIME' in df_sampled1:
    del df_sampled1['DIV4_LONGEST_GTIME']
if 'DIV4_TAIL_NUM' in df_sampled1:
    del df_sampled1['DIV4_TAIL_NUM']
if 'DIV4_TOTAL_GTIME' in df_sampled1:
    del df_sampled1['DIV4_TOTAL_GTIME']
if 'DIV4_WHEELS_OFF' in df_sampled1:
    del df_sampled1['DIV4_WHEELS_OFF']
if 'DIV4_WHEELS_ON' in df_sampled1:
    del df_sampled1['DIV4_WHEELS_ON']
if 'DIV5_AIRPORT' in df_sampled1:
    del df_sampled1['DIV5_AIRPORT']
if 'DIV5_LONGEST_GTIME' in df_sampled1:
    del df_sampled1['DIV5_LONGEST_GTIME']
if 'DIV5_TAIL_NUM' in df_sampled1:
    del df_sampled1['DIV5_TAIL_NUM']
if 'DIV5_TOTAL_GTIME' in df_sampled1:
    del df_sampled1['DIV5_TOTAL_GTIME']
if 'DIV5_WHEELS_OFF' in df_sampled1:
    del df_sampled1['DIV5_WHEELS_OFF']
if 'DIV5_WHEELS_ON' in df_sampled1:
    del df_sampled1['DIV5_WHEELS_ON']

print(df_sampled1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560850 entries, 2016 to 2017
Data columns (total 74 columns):
ACTUAL_ELAPSED_TIME        553111 non-null float64
AIR_TIME                   553111 non-null float64
ARR_DEL15                  553111 non-null float64
ARR_DELAY                  553111 non-null float64
ARR_DELAY_GROUP            553111 non-null float64
ARR_DELAY_NEW              553111 non-null float64
ARR_TIME                   554314 non-null float64
ARR_TIME_BLK               560850 non-null object
CANCELLATION_CODE          6311 non-null object
CANCELLED                  560850 non-null float64
CARRIER                    560850 non-null object
CARRIER_DELAY              99527 non-null float64
CRS_ARR_TIME               560850 non-null float64
CRS_DEP_TIME               560850 non-null float64
CRS_ELAPSED_TIME           560848 non-null float64
DAY_OF_MONTH               560850 non-null float64
DAY_OF_WEEK                560850 non-null float64
DEP_DEL15                  554804 non-null float64
DEP_DELAY                  554804 non-null float64
DEP_DELAY_GROUP            554804 non-null float64
DEP_DELAY_NEW              554804 non-null float64
DEP_TIME                   554804 non-null float64
DEP_TIME_BLK               560850 non-null object
DEST                       560850 non-null object
DEST_CITY_NAME             560850 non-null object
DEST_STATE_ABR             560850 non-null object
DEST_STATE_FIPS            560850 non-null float64
DEST_STATE_NM              560850 non-null object
DEST_WAC                   560850 non-null float64
DISTANCE                   560850 non-null float64
DISTANCE_GROUP             560850 non-null float64
DIV1_AIRPORT               1474 non-null object
DIV1_LONGEST_GTIME         1474 non-null float64
DIV1_TAIL_NUM              1206 non-null object
DIV1_TOTAL_GTIME           1474 non-null float64
DIV1_WHEELS_OFF            1206 non-null float64
DIV1_WHEELS_ON             1474 non-null float64
DIV2_AIRPORT               11 non-null object
DIV2_LONGEST_GTIME         11 non-null float64
DIV2_TAIL_NUM              8 non-null object
DIV2_TOTAL_GTIME           11 non-null float64
DIV2_WHEELS_OFF            8 non-null float64
DIV2_WHEELS_ON             11 non-null float64
DIVERTED                   560850 non-null float64
DIV_ACTUAL_ELAPSED_TIME    1203 non-null float64
DIV_AIRPORT_LANDINGS       560850 non-null float64
DIV_ARR_DELAY              1203 non-null float64
DIV_DISTANCE               1428 non-null float64
DIV_REACHED_DEST           1428 non-null float64
FIRST_DEP_TIME             3503 non-null float64
FLIGHTS                    560850 non-null float64
FL_DATE                    560850 non-null object
FL_NUM                     560850 non-null float64
LATE_AIRCRAFT_DELAY        99527 non-null float64
LONGEST_ADD_GTIME          3503 non-null float64
MONTH                      560850 non-null float64
NAS_DELAY                  99527 non-null float64
ORIGIN                     560850 non-null object
ORIGIN_CITY_NAME           560850 non-null object
ORIGIN_STATE_ABR           560850 non-null object
ORIGIN_STATE_FIPS          560850 non-null float64
ORIGIN_STATE_NM            560850 non-null object
ORIGIN_WAC                 560850 non-null float64
QUARTER                    560850 non-null float64
SECURITY_DELAY             99527 non-null float64
TAIL_NUM                   559955 non-null object
TAXI_IN                    554314 non-null float64
TAXI_OUT                   554585 non-null float64
TOTAL_ADD_GTIME            3503 non-null float64
UNIQUE_CARRIER             560850 non-null object
WEATHER_DELAY              99527 non-null float64
WHEELS_OFF                 554585 non-null float64
WHEELS_ON                  554314 non-null float64
YEAR                       0 non-null float64
dtypes: float64(55), object(19)
memory usage: 320.9+ MB
None

In [40]:
# Similar columns related to airlines info
airline_cols = ['UNIQUE_CARRIER', 'CARRIER', 'TAIL_NUM', 'FL_NUM']
for col in airline_cols:
   print df_sampled1[col].value_counts(dropna=False)

WN    129900
DL     91944
AA     90773
OO     61201
UA     54901
EV     47485
B6     28456
AS     17710
NK     14091
F9      9698
HA      7683
VX      7008
Name: UNIQUE_CARRIER, dtype: int64
WN    129900
DL     91944
AA     90773
OO     61201
UA     54901
EV     47485
B6     28456
AS     17710
NK     14091
F9      9698
HA      7683
VX      7008
Name: CARRIER, dtype: int64
NaN       895
N492HA    389
N481HA    389
N493HA    379
N477HA    378
N485HA    378
N487HA    376
N479HA    366
N484HA    363
N486HA    352
N476HA    347
N480HA    340
N491HA    327
N483HA    322
N490HA    307
N475HA    305
N489HA    301
N478HA    283
N667GB    269
N488HA    267
N435SW    257
N914EV    255
N633AE    254
N685AE    248
N680AE    243
N672AE    242
N938WN    242
N632SW    240
N967SW    238
N457SW    238
         ...
N851NW      1
N77012      1
N7BWAA      1
N268AK      1
N78001      1
N76010      1
N976JB      1
N844MH      1
N204UA      1
N860NW      1
N57016      1
N180UA      1
N666DN      1
N751AT      1
N270AA      1
N7BGAA      1
N273AA      1
N27957      1
N8ATAA      1
N870DN      1
N866DA      1
N78013      1
N646UA      1
N708DN      1
N8LCAA      1
N33294      1
N179UA      1
N651UA      1
N8ASAA      1
N220UA      1
Name: TAIL_NUM, dtype: int64
50.0      382
326.0     365
404.0     365
403.0     355
511.0     354
550.0     351
323.0     347
413.0     342
675.0     340
327.0     340
801.0     334
719.0     331
448.0     330
657.0     327
311.0     326
777.0     326
407.0     325
714.0     325
469.0     320
419.0     319
720.0     319
735.0     317
504.0     316
300.0     315
575.0     313
64.0      313
380.0     312
734.0     310
616.0     309
423.0     307
         ...
6536.0      1
6469.0      1
6645.0      1
6864.0      1
6359.0      1
6702.0      1
6614.0      1
6646.0      1
6861.0      1
6448.0      1
6769.0      1
6443.0      1
6809.0      1
6788.0      1
6558.0      1
6061.0      1
6810.0      1
6380.0      1
6465.0      1
6086.0      1
6664.0      1
6578.0      1
6616.0      1
6827.0      1
6689.0      1
6824.0      1
6500.0      1
6579.0      1
6703.0      1
6617.0      1
Name: FL_NUM, dtype: int64

In [42]:
# UNIQUE_CARRIER and CARRIER are the same for this sample
if 'UNIQUE_CARRIER' in df_sampled1:
    del df_sampled1['UNIQUE_CARRIER']
# We can drop the tail number since there are a lot of NaNs in this data
if 'TAIL_NUM' in df_sampled1:
    del df_sampled1['TAIL_NUM']

print(df_sampled1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560850 entries, 2016 to 2017
Data columns (total 72 columns):
ACTUAL_ELAPSED_TIME        553111 non-null float64
AIR_TIME                   553111 non-null float64
ARR_DEL15                  553111 non-null float64
ARR_DELAY                  553111 non-null float64
ARR_DELAY_GROUP            553111 non-null float64
ARR_DELAY_NEW              553111 non-null float64
ARR_TIME                   554314 non-null float64
ARR_TIME_BLK               560850 non-null object
CANCELLATION_CODE          6311 non-null object
CANCELLED                  560850 non-null float64
CARRIER                    560850 non-null object
CARRIER_DELAY              99527 non-null float64
CRS_ARR_TIME               560850 non-null float64
CRS_DEP_TIME               560850 non-null float64
CRS_ELAPSED_TIME           560848 non-null float64
DAY_OF_MONTH               560850 non-null float64
DAY_OF_WEEK                560850 non-null float64
DEP_DEL15                  554804 non-null float64
DEP_DELAY                  554804 non-null float64
DEP_DELAY_GROUP            554804 non-null float64
DEP_DELAY_NEW              554804 non-null float64
DEP_TIME                   554804 non-null float64
DEP_TIME_BLK               560850 non-null object
DEST                       560850 non-null object
DEST_CITY_NAME             560850 non-null object
DEST_STATE_ABR             560850 non-null object
DEST_STATE_FIPS            560850 non-null float64
DEST_STATE_NM              560850 non-null object
DEST_WAC                   560850 non-null float64
DISTANCE                   560850 non-null float64
DISTANCE_GROUP             560850 non-null float64
DIV1_AIRPORT               1474 non-null object
DIV1_LONGEST_GTIME         1474 non-null float64
DIV1_TAIL_NUM              1206 non-null object
DIV1_TOTAL_GTIME           1474 non-null float64
DIV1_WHEELS_OFF            1206 non-null float64
DIV1_WHEELS_ON             1474 non-null float64
DIV2_AIRPORT               11 non-null object
DIV2_LONGEST_GTIME         11 non-null float64
DIV2_TAIL_NUM              8 non-null object
DIV2_TOTAL_GTIME           11 non-null float64
DIV2_WHEELS_OFF            8 non-null float64
DIV2_WHEELS_ON             11 non-null float64
DIVERTED                   560850 non-null float64
DIV_ACTUAL_ELAPSED_TIME    1203 non-null float64
DIV_AIRPORT_LANDINGS       560850 non-null float64
DIV_ARR_DELAY              1203 non-null float64
DIV_DISTANCE               1428 non-null float64
DIV_REACHED_DEST           1428 non-null float64
FIRST_DEP_TIME             3503 non-null float64
FLIGHTS                    560850 non-null float64
FL_DATE                    560850 non-null object
FL_NUM                     560850 non-null float64
LATE_AIRCRAFT_DELAY        99527 non-null float64
LONGEST_ADD_GTIME          3503 non-null float64
MONTH                      560850 non-null float64
NAS_DELAY                  99527 non-null float64
ORIGIN                     560850 non-null object
ORIGIN_CITY_NAME           560850 non-null object
ORIGIN_STATE_ABR           560850 non-null object
ORIGIN_STATE_FIPS          560850 non-null float64
ORIGIN_STATE_NM            560850 non-null object
ORIGIN_WAC                 560850 non-null float64
QUARTER                    560850 non-null float64
SECURITY_DELAY             99527 non-null float64
TAXI_IN                    554314 non-null float64
TAXI_OUT                   554585 non-null float64
TOTAL_ADD_GTIME            3503 non-null float64
WEATHER_DELAY              99527 non-null float64
WHEELS_OFF                 554585 non-null float64
WHEELS_ON                  554314 non-null float64
YEAR                       0 non-null float64
dtypes: float64(55), object(17)
memory usage: 312.4+ MB
None

In [43]:
# Similar columns related to origin info
origin_cols = ['ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM', 'ORIGIN_WAC']
for col in origin_cols:
   print df_sampled1[col].value_counts(dropna=False)

ATL    38353
ORD    24596
DEN    22484
LAX    21439
DFW    19515
SFO    17318
PHX    15945
LAS    15090
IAH    13427
SEA    13198
MSP    12905
MCO    12715
DTW    12341
BOS    12311
EWR    11686
CLT    11092
SLC    10871
JFK     9720
BWI     9622
LGA     9575
MDW     8749
FLL     8229
SAN     7928
DCA     7806
PHL     7325
MIA     6928
DAL     6904
TPA     6692
PDX     5992
STL     5517
       ...
BLI       53
ADQ       49
EKO       47
ESC       47
GRI       46
GUM       45
SMX       44
JLN       41
GCK       41
GGG       39
BPT       36
IAG       35
PBG       33
OTH       26
WYS       21
UST       21
GUC       19
ABI       16
MVY       16
PGD       15
MMH       14
ADK       14
HYA       13
PPG       11
DLG       10
GST        9
AKN        6
TYR        3
IFP        1
STS        1
Name: ORIGIN, dtype: int64
Atlanta, GA                 38353
Chicago, IL                 33345
Denver, CO                  22484
Los Angeles, CA             21439
Dallas/Fort Worth, TX       19515
New York, NY                19295
Houston, TX                 18781
San Francisco, CA           17318
Phoenix, AZ                 15945
Las Vegas, NV               15090
Seattle, WA                 13198
Minneapolis, MN             12905
Orlando, FL                 12715
Detroit, MI                 12341
Boston, MA                  12311
Newark, NJ                  11686
Washington, DC              11302
Charlotte, NC               11092
Salt Lake City, UT          10871
Baltimore, MD                9622
Fort Lauderdale, FL          8229
San Diego, CA                7928
Philadelphia, PA             7325
Miami, FL                    6928
Dallas, TX                   6904
Tampa, FL                    6692
Portland, OR                 5992
St. Louis, MO                5517
Nashville, TN                5088
Oakland, CA                  4986
                            ...
Bellingham, WA                 53
Kodiak, AK                     49
Escanaba, MI                   47
Elko, NV                       47
Grand Island, NE               46
Guam, TT                       45
Santa Maria, CA                44
Joplin, MO                     41
Garden City, KS                41
Longview, TX                   39
Beaumont/Port Arthur, TX       36
Niagara Falls, NY              35
Plattsburgh, NY                33
North Bend/Coos Bay, OR        26
St. Augustine, FL              21
West Yellowstone, MT           21
Gunnison, CO                   19
Martha's Vineyard, MA          16
Abilene, TX                    16
Punta Gorda, FL                15
Adak Island, AK                14
Mammoth Lakes, CA              14
Hyannis, MA                    13
Pago Pago, TT                  11
Dillingham, AK                 10
Gustavus, AK                    9
King Salmon, AK                 6
Tyler, TX                       3
Bullhead City, AZ               1
Santa Rosa, CA                  1
Name: ORIGIN_CITY_NAME, dtype: int64
CA    73138
TX    57154
FL    44440
GA    39714
IL    34270
NY    24971
CO    24680
AZ    17942
NV    16607
NC    16255
MI    15120
WA    14608
VA    14581
MN    13605
MA    12488
NJ    12241
UT    11151
PA    10785
MO    10238
HI    10007
MD     9622
TN     7960
OR     6978
OH     6814
LA     6697
WI     5013
IN     3963
AK     3488
KY     3133
SC     3103
OK     3000
PR     2933
AL     2468
NM     2164
NE     2151
ID     2143
CT     2089
MT     1693
AR     1586
IA     1263
RI     1260
ND     1121
MS     1066
KS      876
WY      849
SD      778
NH      689
ME      658
VI      618
VT      375
WV      248
TT       56
Name: ORIGIN_STATE_ABR, dtype: int64
6.0     73138
48.0    57154
12.0    44440
13.0    39714
17.0    34270
36.0    24971
8.0     24680
4.0     17942
32.0    16607
37.0    16255
26.0    15120
53.0    14608
51.0    14581
27.0    13605
25.0    12488
34.0    12241
49.0    11151
42.0    10785
29.0    10238
15.0    10007
24.0     9622
47.0     7960
41.0     6978
39.0     6814
22.0     6697
55.0     5013
18.0     3963
2.0      3488
21.0     3133
45.0     3103
40.0     3000
72.0     2933
1.0      2468
35.0     2164
31.0     2151
16.0     2143
9.0      2089
30.0     1693
5.0      1586
19.0     1263
44.0     1260
38.0     1121
28.0     1066
20.0      876
56.0      849
46.0      778
33.0      689
23.0      658
78.0      618
50.0      375
54.0      248
75.0       56
Name: ORIGIN_STATE_FIPS, dtype: int64
California                                        73138
Texas                                             57154
Florida                                           44440
Georgia                                           39714
Illinois                                          34270
New York                                          24971
Colorado                                          24680
Arizona                                           17942
Nevada                                            16607
North Carolina                                    16255
Michigan                                          15120
Washington                                        14608
Virginia                                          14581
Minnesota                                         13605
Massachusetts                                     12488
New Jersey                                        12241
Utah                                              11151
Pennsylvania                                      10785
Missouri                                          10238
Hawaii                                            10007
Maryland                                           9622
Tennessee                                          7960
Oregon                                             6978
Ohio                                               6814
Louisiana                                          6697
Wisconsin                                          5013
Indiana                                            3963
Alaska                                             3488
Kentucky                                           3133
South Carolina                                     3103
Oklahoma                                           3000
Puerto Rico                                        2933
Alabama                                            2468
New Mexico                                         2164
Nebraska                                           2151
Idaho                                              2143
Connecticut                                        2089
Montana                                            1693
Arkansas                                           1586
Iowa                                               1263
Rhode Island                                       1260
North Dakota                                       1121
Mississippi                                        1066
Kansas                                              876
Wyoming                                             849
South Dakota                                        778
New Hampshire                                       689
Maine                                               658
U.S. Virgin Islands                                 618
Vermont                                             375
West Virginia                                       248
U.S. Pacific Trust Territories and Possessions       56
Name: ORIGIN_STATE_NM, dtype: int64
91.0    73138
74.0    57154
33.0    44440
34.0    39714
41.0    34270
22.0    24971
82.0    24680
81.0    17942
85.0    16607
36.0    16255
43.0    15120
93.0    14608
38.0    14581
63.0    13605
13.0    12488
21.0    12241
87.0    11151
23.0    10785
64.0    10238
2.0     10007
35.0     9622
54.0     7960
92.0     6978
44.0     6814
72.0     6697
45.0     5013
42.0     3963
1.0      3488
52.0     3133
37.0     3103
73.0     3000
3.0      2933
51.0     2468
86.0     2164
65.0     2151
83.0     2143
11.0     2089
84.0     1693
71.0     1586
61.0     1263
15.0     1260
66.0     1121
53.0     1066
62.0      876
88.0      849
67.0      778
14.0      689
12.0      658
4.0       618
16.0      375
39.0      248
5.0        56
Name: ORIGIN_WAC, dtype: int64

In [44]:
# Based on the analysis above we can drop ORIGIN_STATE_ABR, ORIGIN_STATE_FIPS, ORIGIN_WAC
# We should also be able to drop DEST_STATE_ABR, DEST_STATE_FIPS, DEST_WAC
if 'ORIGIN_STATE_ABR' in df_sampled1:
    del df_sampled1['ORIGIN_STATE_ABR']
if 'ORIGIN_STATE_FIPS' in df_sampled1:
    del df_sampled1['ORIGIN_STATE_FIPS']
if 'ORIGIN_WAC' in df_sampled1:
    del df_sampled1['ORIGIN_WAC']
if 'DEST_STATE_ABR' in df_sampled1:
    del df_sampled1['DEST_STATE_ABR']
if 'DEST_STATE_FIPS' in df_sampled1:
    del df_sampled1['DEST_STATE_FIPS']
if 'DEST_WAC' in df_sampled1:
    del df_sampled1['DEST_WAC']

print(df_sampled1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560850 entries, 2016 to 2017
Data columns (total 66 columns):
ACTUAL_ELAPSED_TIME        553111 non-null float64
AIR_TIME                   553111 non-null float64
ARR_DEL15                  553111 non-null float64
ARR_DELAY                  553111 non-null float64
ARR_DELAY_GROUP            553111 non-null float64
ARR_DELAY_NEW              553111 non-null float64
ARR_TIME                   554314 non-null float64
ARR_TIME_BLK               560850 non-null object
CANCELLATION_CODE          6311 non-null object
CANCELLED                  560850 non-null float64
CARRIER                    560850 non-null object
CARRIER_DELAY              99527 non-null float64
CRS_ARR_TIME               560850 non-null float64
CRS_DEP_TIME               560850 non-null float64
CRS_ELAPSED_TIME           560848 non-null float64
DAY_OF_MONTH               560850 non-null float64
DAY_OF_WEEK                560850 non-null float64
DEP_DEL15                  554804 non-null float64
DEP_DELAY                  554804 non-null float64
DEP_DELAY_GROUP            554804 non-null float64
DEP_DELAY_NEW              554804 non-null float64
DEP_TIME                   554804 non-null float64
DEP_TIME_BLK               560850 non-null object
DEST                       560850 non-null object
DEST_CITY_NAME             560850 non-null object
DEST_STATE_NM              560850 non-null object
DISTANCE                   560850 non-null float64
DISTANCE_GROUP             560850 non-null float64
DIV1_AIRPORT               1474 non-null object
DIV1_LONGEST_GTIME         1474 non-null float64
DIV1_TAIL_NUM              1206 non-null object
DIV1_TOTAL_GTIME           1474 non-null float64
DIV1_WHEELS_OFF            1206 non-null float64
DIV1_WHEELS_ON             1474 non-null float64
DIV2_AIRPORT               11 non-null object
DIV2_LONGEST_GTIME         11 non-null float64
DIV2_TAIL_NUM              8 non-null object
DIV2_TOTAL_GTIME           11 non-null float64
DIV2_WHEELS_OFF            8 non-null float64
DIV2_WHEELS_ON             11 non-null float64
DIVERTED                   560850 non-null float64
DIV_ACTUAL_ELAPSED_TIME    1203 non-null float64
DIV_AIRPORT_LANDINGS       560850 non-null float64
DIV_ARR_DELAY              1203 non-null float64
DIV_DISTANCE               1428 non-null float64
DIV_REACHED_DEST           1428 non-null float64
FIRST_DEP_TIME             3503 non-null float64
FLIGHTS                    560850 non-null float64
FL_DATE                    560850 non-null object
FL_NUM                     560850 non-null float64
LATE_AIRCRAFT_DELAY        99527 non-null float64
LONGEST_ADD_GTIME          3503 non-null float64
MONTH                      560850 non-null float64
NAS_DELAY                  99527 non-null float64
ORIGIN                     560850 non-null object
ORIGIN_CITY_NAME           560850 non-null object
ORIGIN_STATE_NM            560850 non-null object
QUARTER                    560850 non-null float64
SECURITY_DELAY             99527 non-null float64
TAXI_IN                    554314 non-null float64
TAXI_OUT                   554585 non-null float64
TOTAL_ADD_GTIME            3503 non-null float64
WEATHER_DELAY              99527 non-null float64
WHEELS_OFF                 554585 non-null float64
WHEELS_ON                  554314 non-null float64
YEAR                       0 non-null float64
dtypes: float64(51), object(15)
memory usage: 286.7+ MB
None

In [53]:
df_sampled1.isnull().any()

ACTUAL_ELAPSED_TIME         True
AIR_TIME                    True
ARR_DEL15                   True
ARR_DELAY                   True
ARR_DELAY_GROUP             True
ARR_DELAY_NEW               True
ARR_TIME                    True
ARR_TIME_BLK               False
CANCELLATION_CODE           True
CANCELLED                  False
CARRIER                    False
CARRIER_DELAY               True
CRS_ARR_TIME               False
CRS_DEP_TIME               False
CRS_ELAPSED_TIME            True
DAY_OF_MONTH               False
DAY_OF_WEEK                False
DEP_DEL15                   True
DEP_DELAY                   True
DEP_DELAY_GROUP             True
DEP_DELAY_NEW               True
DEP_TIME                    True
DEP_TIME_BLK               False
DEST                       False
DEST_CITY_NAME             False
DEST_STATE_NM              False
DISTANCE                   False
DISTANCE_GROUP             False
DIV1_AIRPORT                True
DIV1_LONGEST_GTIME          True
                           ...
DIV2_TAIL_NUM               True
DIV2_TOTAL_GTIME            True
DIV2_WHEELS_OFF             True
DIV2_WHEELS_ON              True
DIVERTED                   False
DIV_ACTUAL_ELAPSED_TIME     True
DIV_AIRPORT_LANDINGS       False
DIV_ARR_DELAY               True
DIV_DISTANCE                True
DIV_REACHED_DEST            True
FIRST_DEP_TIME              True
FLIGHTS                    False
FL_DATE                    False
FL_NUM                     False
LATE_AIRCRAFT_DELAY         True
LONGEST_ADD_GTIME           True
MONTH                      False
NAS_DELAY                   True
ORIGIN                     False
ORIGIN_CITY_NAME           False
ORIGIN_STATE_NM            False
QUARTER                    False
SECURITY_DELAY              True
TAXI_IN                     True
TAXI_OUT                    True
TOTAL_ADD_GTIME             True
WEATHER_DELAY               True
WHEELS_OFF                  True
WHEELS_ON                   True
YEAR                        True
dtype: bool

In [52]:
df_sampled1.describe().to_csv('./Data/summary.csv', sep=',', encoding='utf-8')

In [49]:
df_sampled1.describe()

,ACTUAL_ELAPSED_TIME,AIR_TIME,ARR_DEL15,ARR_DELAY,ARR_DELAY_GROUP,ARR_DELAY_NEW,ARR_TIME,CANCELLED,CARRIER_DELAY,CRS_ARR_TIME,...,NAS_DELAY,QUARTER,SECURITY_DELAY,TAXI_IN,TAXI_OUT,TOTAL_ADD_GTIME,WEATHER_DELAY,WHEELS_OFF,WHEELS_ON,YEAR
count,553111.000000,553111.000000,553111.000000,553111.000000,553111.000000,553111.000000,554314.000000,560850.000000,99527.000000,560850.000000,...,99527.000000,560850.000000,99527.000000,554314.000000,554585.000000,3503.000000,99527.000000,554585.000000,554314.000000,0.0
mean,140.379257,116.633840,0.179940,3.953322,-0.241944,12.236034,1471.845411,0.011253,20.042370,1491.780556,...,14.923689,2.514410,0.093723,7.500235,16.258685,35.638310,2.620726,1354.484804,1467.687109,NaN
std,75.829903,73.626976,0.384138,43.055943,2.230558,39.571237,534.661811,0.105480,58.548889,515.234450,...,30.767658,1.105098,2.913936,5.778211,8.899316,30.955259,21.486055,504.075422,530.125420,NaN
min,15.000000,6.000000,0.000000,-97.000000,-2.000000,0.000000,1.000000,0.000000,0.000000,1.000000,...,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,NaN
25%,84.000000,62.000000,0.000000,-14.000000,-1.000000,0.000000,1053.000000,0.000000,0.000000,1105.000000,...,0.000000,2.000000,0.000000,4.000000,11.000000,16.000000,0.000000,931.000000,1050.000000,NaN
50%,121.000000,97.000000,0.000000,-6.000000,-1.000000,0.000000,1511.000000,0.000000,1.000000,1520.000000,...,2.000000,3.000000,0.000000,6.000000,14.000000,27.000000,0.000000,1339.000000,1507.000000,NaN
75%,173.000000,148.000000,0.000000,7.000000,0.000000,7.000000,1918.000000,0.000000,18.000000,1920.000000,...,19.000000,3.000000,0.000000,9.000000,19.000000,43.000000,0.000000,1756.000000,1914.000000,NaN
max,715.000000,688.000000,1.000000,1971.000000,12.000000,1971.000000,2400.000000,1.000000,1964.000000,2400.000000,...,1233.000000,4.000000,332.000000,379.000000,183.000000,276.000000,1934.000000,2400.000000,2400.000000,NaN